<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="GrindContext" connectionString="Data Source=46.231.116.202;Database=Grind;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RevelCardInsertUser" value="/enterprise/User/203/"/>
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RevelBaseURL" value="https://shoreditchgrind.revelup.com/"/>
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RevelAPIKEY" value="408d6c05f2864ece90c037333d64f333:9ae943831e7f443b9edf3a6203e66598290fc7d2f3244ca9b69dd67404aa39f2"/>
  </appSettings>
</configuration>