<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--<connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="DefaultConnection" connectionString="Data Source=130.193.90.122;Database=GrindAuth;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True;pooling=true;Connect Timeout=60;max pool size=200;" providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="GrindFireContext" connectionString="Data Source=130.193.90.122;Database=GrindFire;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True;pooling=true;Connect Timeout=60;max pool size=200;" providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="GrindAuthContext" connectionString="Data Source=130.193.90.122;Initial Catalog=GrindAuth;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="GrindContext" connectionString="Data Source=130.193.90.122;Database=Grind;Persist Security Info=True;User ID=NadavDrewe;Password=Diagonal23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
   <!-- <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RevelCardInsertUser" value="/enterprise/User/8/"/>
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RevelBaseURL" value="https://testshoreditchgrind.revelup.com/"/>
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RevelAPIKEY" value="be9685e8ca1847959350571318aa6f0f:da848e35fabd4f41a1bcb59268c3ad1ecef62b6c6f3e4e82a5faf443d0f8242e"/>-->
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
