<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoItX.Dotnet" version="3.3.14.2" targetFramework="net452" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="CsvHelper" version="7.1.0" targetFramework="net452" />
  <package id="CsvHelper.Fluent" version="0.1.4" targetFramework="net452" />
  <package id="DnsClient" version="1.0.7" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="MailserviceV2.Railgunit" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.6.1" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.6.1" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.6.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Quartz" version="3.0.6" targetFramework="net46" />
  <package id="Quartz.Unity" version="3.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.11.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.37.0" targetFramework="net452" />
  <package id="Shouldly" version="3.0.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
  <package id="Topshelf.Unity" version="3.2.0" targetFramework="net452" />
  <package id="Unity" version="5.8.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net452" />
  <package id="Xero.API.SDK.Minimal" version="2.2.1.7" targetFramework="net452" />
</packages>